<h1>{{title}}</h1>
<div class="row">
    <div class="col-md-4 col-sm-6">
        <div class="card">
            <div class="card-body form-check">
                <div *ngFor="let task of service.tasks" class="task">
                    <input type="checkbox" id="{{task.id}}" class="check" [checked]="task.completed">
                    <label for="{{task.id}}" class="label"> {{task.name}} </label>
                    <button (click)="service.removeTask(task)" class="btn btn-primary">Borrar</button>
                </div>
            </div>
        </div>
    </div>
</div> 