<h1>My Stories</h1>
<div class="card">
    <div class="card-head">Lorem ipsum - My Projects</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas tempora corrupti fuga labore dolorum, sint deleniti ad illum commodi dicta! Minima at, perspiciatis autem aperiam mollitia cupiditate doloremque blanditiis molestiae?
    </div>
</div>
<div class="card">
    <div class="card-head">Lorem ipsum - My Projects 2</div>
    <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas tempora corrupti fuga labore dolorum, sint deleniti ad illum commodi dicta! Minima at, perspiciatis autem aperiam mollitia cupiditate doloremque blanditiis molestiae?
    </div>
</div>